# macOS
.DS_Store

# Xcode build artifacts
build/
DerivedData/
*.xcuserstate

# Xcode user data
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts/
Carthage/DerivedData/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Archives and symbols
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM
